docutils
markupsafe
pygments
pylint
pytest
pytest-cov
pytest-pylint
python-dotenv>=0.5.1
setuptools
sphinx
sphinx_rtd_theme
sphinx-autobuild
sphinx-rtd-theme
sphinxcontrib-websupport
pipdeptree
pylint_junit