[[source]]
url = "https://artefact.skao.int/repository/pypi-proxy/simple"
verify_ssl = true
name = "nexus-proxy"

[[source]]
url = "https://artefact.skao.int/repository/pypi-internal/simple"
verify_ssl = true
name = "nexus-hosted"

[packages]
docutils = "*"
MarkupSafe = "*"
Pygments = "*"
pylint = "*"
pylint-junit = "*"
pytest = "*"
pytest-cov = "*"
pytest-pylint = "*"
pytest-json-report = "*"
python-dotenv = ">=0.5.1"
Sphinx = "*"
sphinx_rtd_theme = "*"
sphinx-autobuild = "*"
sphinxcontrib-websupport = "*"
recommonmark = "*"

[dev-packages]

[requires]
python_version = "3"
