/.vagrant
/ansible.log
/playbooks/ansible.log
/playbooks/*.retry
/ubuntu-bionic-18.04-cloudimg-console.log
/docs/build
/PrivateRules.mak
/tmp
/build
/builds
ansible-playbooks
**/.idea
/tests/acceptance_tests/__pycache__
/tests/acceptance_tests/.pytest_cache
/tests/acceptance_tests/.vscode
