/.vagrant
/ansible.log
/playbooks/ansible.log
/playbooks/*.retry
/ubuntu-bionic-18.04-cloudimg-console.log
/docs/build
/PrivateRules.mak
/tmp
/build
/builds
ansible-playbooks
**/.idea
/test-harness/tests/acceptance_tests/__pycache__
/test-harness/tests/acceptance_tests/.pytest_cache
/test-harness/tests/acceptance_tests/.vscode
/tests/__pycache__/
*.py.swp
*.pyc
/test-harness/.eggs
/test-harness/skampi.egg-info/
/test-harness/pytest-logs.txt
/test-harness/setup_py_test.stdout
/test-harness/report.xml
/test-harness/.pytest_cache
/test-harness/tests/__pycache__
/tests/testsupport/__pycache__
/test-harness/build/
/test-harness/dist/
/test-harness/report.json
*__pycache__
*.swp