/.vagrant
/ansible.log
/playbooks/ansible.log
/playbooks/*.retry
/ubuntu-bionic-18.04-cloudimg-console.log
/docs/build
/PrivateRules.mak
/tmp
/build
/builds
ansible-playbooks
**/.idea
/test-harness/tests/acceptance_tests/__pycache__
/test-harness/tests/acceptance_tests/.pytest_cache
/test-harness/tests/acceptance_tests/.vscode
/tests/__pycache__/
*.py.swp
*.pyc
/test-harness/.eggs
/test-harness/skampi.egg-info/
/test-harness/pytest-logs.txt
/test-harness/setup_py_test.stdout
/test-harness/report.xml
/test-harness/.pytest_cache
/test-harness/tests/__pycache__
/tests/testsupport/__pycache__
/test-harness/build/
/test-harness/dist/
/test-harness/report.json
*__pycache__
*.swp
*.ipynb
.pytest_cache/*
cucumber.json
junit-report.xml
pytest-logs.txt
report.xml
report.json
test-harness/cucumber.json
charts/tango-base/secrets/tls.key
charts/tango-base/secrets/tls.crt
post-deployment/skampi.egg-info/
post-deployment/dist/
post-deployment/resources/test_data/polaris_b1_no_cam.json
post-deployment/build
post-deployment/.pytest_cache
post-deployment/resources/test_data/polaris_b1_no_cam.json
