db: "databaseds-tango-base.ci-ska-skampi-hm-213-low.svc.cluster.local:10000"
manager: low-eda/cm/01
archiver: low-eda/es/01

configuration:
  - class: CentralNodeLow
    attributes:
      state:
        code_push_event: true
      healthState:
        code_push_event: true
      telescopestate:
        archive_period: 3000
        polling_period: 1000
      internalModel:
        archive_period: 3000
        polling_period: 1000
      lastDeviceInfoChanged:
        archive_period: 3000
        polling_period: 1000
      transformedInternalModel:
        archive_period: 3000
        polling_period: 1000
      telescopeHealthState:
        archive_period: 3000
        polling_period: 1000
   

  - class: SubarrayNodeLow
    attributes:
      state:
        code_push_event: true
      healthState:
        archive_period: 3000
        polling_period: 1000
      obsState:
        code_push_event: true
      internalModel:
        archive_period: 3000
        polling_period: 1000
      transformedInternalModel:
        archive_period: 3000
        polling_period: 1000
      assignedResources:
        archive_period: 3000
        polling_period: 1000
      lastDeviceInfoChanged:
        archive_period: 3000
        polling_period: 1000
      
    
  - class: CspMasterLeafNode
    attributes:
      state:
        code_push_event: true
      healthState:
        archive_period: 3000
        polling_period: 3000

  - class: CspSubarrayLeafNode 
    attributes:
      state:
        code_push_event: true
      healthState:
        archive_period: 3000
        polling_period: 1000

  - class: SdpMasterLeafNode
    attributes:
      state:
        code_push_event: true
      healthState:
        archive_period: 3000
        polling_period: 1000


  - class: SdpSubarrayLeafNode
    attributes:
      state:
        code_push_event: true
      healthState:
        archive_period: 3000
        polling_period: 1000
