# Further information on how the assignment are based
# could be found here: 
# https://confluence.skatelescope.org/display/SWSI/Skampi+Change+Management

# Products (Helm charts) Reviewers, A1, and Product Organisation Reviewers, H1
# Description: 
# -- A1 --
# Change to the SKA-Low or SKA-Mid chart, including:
# - Changing the version number of a chart it depends on (aka a sub-chart), 
#   one of the subsystem or support charts;
# - Adding a new sub-chart;
# - Removing a sub-chart;
# - Changing the default values that significantly affects the deployment.
# This typically occurs as a result of a new feature or fix on a subsystem
# (or one of its components) that is part of SKA-Low or SKA-Mid. 
# There should always be a reference to a specific capability/feature/story 
# or bug that resulted in this change. The change may result in a change
# in behaviour, in which case there should also be changes in acceptance 
# tests that verify the new behaviour (see next type of change).
# -- H1 --
# Cosmetic changes to the way Helm charts
# Members (POs/PMs, caretakers):
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer
# TODO: add more people
[Integration]
# A1
charts/ @adb-42 @mmarquar
.release @adb-42 @mmarquar
# H1
charts/ska-mid/values.yaml @adb-42 @mmarquar
charts/ska-low/values.yaml @adb-42 @mmarquar

# Tests Reviewers, A2, and Test Management Reviewers, H2
# Description:
# -- A2 --
# Change in a test, or addition or removal of a test.
# Tests are typically created alongside a specific change 
# in the behaviour of SKA-Low or SKA-Mid. This should form part of the work 
# done on a particular feature/story or bug that results in an update to 
# a product (see above).
# -- H2 --
# Nonfunctional changes to the tests and test dependencies used 
# to verify the products. For example, removing a test that has become 
# obsolete or redundant, change the way tests are marked/tagged and 
# reported to Jira, etc.
# Members (POs/PMs, stewards):
# - AIV Low: Malte Marquarding
# - AIV Mid: Adriaan De Beer 
# TODO: add more people
[Tests]
# A2
tests/ @adb-42 @mmarquar 
*.py @adb-42 @mmarquar
*.feature @adb-42 @mmarquar 
# H2
scripts/ @adb-42 @mmarquar 
tests/Makefile @adb-42 @mmarquar 

# CI/CD Reviewers, A3, and Housekeeping CI Reviewers, H3
# Description:
# -- A3 --
# Change in the way the continuous integration pipeline is 
# run as a consequence of GitLab triggers (commits, merges, manual pipeline 
# runs/deployments and staging releases). This change may result from 
# improvements or fixing problems. This type of change is specialised and 
# typically involves the System team or other people with 
# the requisite knowledge.
# -- H3 --
# Nonfunctional changes to the CI pipeline to ensure it is up to date and
# continuously improved. 
#For example, removing deprecated makefile targets, or removing unused scripts
# Members(POs, ST, marshalls):
# - System Team
# TODO: add more people
[CI/CD]
# A3
.gitlab-ci.yml @limonkufu @piersharding
.gitlab/ @limonkufu @piersharding
Makefile @limonkufu @piersharding
# H3
values.yaml @limonkufu @piersharding
.make/ @limonkufu @piersharding
.readthedocs.yaml @limonkufu @piersharding

# Docs Reviewers, A4
# Description:
# Changes to documentation about the verification and CI processes related to 
# product integration (e.g. update in the readme on new env variables) 
# Since these changes are typical as a result of A2 or A3 they should be combined
# as separate stories within the same feature used for A2 or A3.
# Members(POs, marshalls):
# - 
# TODO: add more people
[Documentation]
docs/ @limonkufu @piersharding
README.md @limonkufu @piersharding
*.md @limonkufu @piersharding
*.rst @limonkufu @piersharding

# Overall Reviewers
# Members:
# - 
# TODO: add more people
* @limonkufu @piersharding

# License
# Members:
# - 
# TODO: add more people
LICENSE @limonkufu @piersharding

# Other
# Members:
# - 
# TODO: add more people
charts/ska-landingpage/ @gerhardlr 
