# -r SUT_requirements.txt
# uncomment this if you want to install a dev skallop package from gitlab
# --extra-index-url https://deployskallopdev:rsaigjomsv-XyU2gNji7@gitlab.com/api/v4/projects/21173098/packages/pypi/simple
# --extra-index-url https://artefact.skao.int/repository/pypi-internal/
pytest
pyyaml
pytest-cov
pytest-json-report
pycodestyle<2.7.0,>=2.6.0a1
pytest-bdd
pytest-ordering
pytest-timeout
pytest-repeat
# elasticsearch
kubernetes>=18.20.0
assertpy
# mock
# importlib
# elasticsearch-dsl
# aiohttp
# aiojobs
# pytest-asyncio
# aiohttp_cors
# flake8
# tango-simlib>=0.9.0
# ska-tango-base
# ska-ser-log-transactions
# tabulate
# ska-ser-skallop[bit]==2.7.3
# ska-ser-skallop>=2.6.0,<=2.7.4
ska-ser-skallop==2.7.4
# ska-ser-skuid
# ska-ser-logging
docopts

pytest-mock
pytest-forked
pytest-xdist
coverage
