-r SUT_requirements.txt
pytest
pyyaml
pytest-cov
pytest-json-report
pycodestyle<2.7.0,>=2.6.0a1
pytest-bdd
pytest-ordering
pytest-timeout
pytest-repeat
elasticsearch
kubernetes
assertpy
mock
importlib
elasticsearch-dsl
aiohttp
aiojobs
pytest-asyncio
ska_logging
aiohttp_cors
flake8
tango-simlib>=0.9.0
lmcbaseclasses
ska-log-transactions
tabulate
skallop==0.1.3
ska-ser-skuid
ska-ser-logging
