-r SUT_requirements.txt
pytest
pyyaml
pytest-cov
pytest-json-report
pycodestyle<2.7.0,>=2.6.0a1
pytest-bdd
pytest-ordering
pytest-timeout
pytest-repeat
elasticsearch
kubernetes
assertpy
mock
importlib
elasticsearch-dsl
aiohttp
aiojobs
pytest-asyncio
aiohttp_cors
flake8
tango-simlib>=0.9.0
ska-tango-base
ska-ser-log-transactions
tabulate
ska-ser-skallop==2.2.0
ska-ser-skuid
ska-ser-logging
