apiVersion: v2
name: mvp-mid
description: A Helm chart for Kubernetes MVP Mid
type: application
version: 0.7.0
appVersion: 0.7.0
icon: https://www.skatelescope.org/wp-content/uploads/2016/07/09545_NEW_LOGO_2014.png
dependencies:
- name: tango-base
  version: 0.2.20
  repository: https://nexus.engageska-portugal.pt/repository/helm-chart
- name: tango-util
  version: 0.2.13
  repository: https://nexus.engageska-portugal.pt/repository/helm-chart
- name: mid-cbf
  version: 0.1.1
  repository: https://nexus.engageska-portugal.pt/repository/helm-chart
  condition: mid-cbf.enabled
- name: mid-csp
  version: 0.1.5
  repository: https://nexus.engageska-portugal.pt/repository/helm-chart
  condition: mid-csp.enabled
- name: sdp
  version: 0.4.0
  repository: https://nexus.engageska-portugal.pt/repository/helm-chart
  condition: sdp.enabled
- name: tmc-mid
  version: 0.3.2
  repository: https://nexus.engageska-portugal.pt/repository/helm-chart
  condition: tmc-mid.enabled
- name: oet-scripts
  version: 0.3.6
  repository: https://nexus.engageska-portugal.pt/repository/helm-chart
  condition: oet-scripts.enabled
- name: webjive
  version: 1.0.18
  repository: https://nexus.engageska-portugal.pt/repository/helm-chart
  condition: webjive.enabled
- name: skuid
  version: 0.2.0
  repository: https://nexus.engageska-portugal.pt/repository/helm-chart
  condition: skuid.enabled
- name: landingpage
  version: 0.1.0
  repository: file://../landingpage
  condition: landingpage.enabled
- name: ska-archiver
  version: 0.1.4
  repository: https://nexus.engageska-portugal.pt/repository/helm-chart
  condition: archiver.enabled
## it was disabled in the old version of skampi
# - name: dsh-lmc-prototype
#   version: 0.0.1
#   repository: https://nexus.engageska-portugal.pt/repository/helm-chart
