bokeh==2.3.2; python_version >= "3.7"
json5==0.9.5; python_version >= "3.7"
jsonschema==3.2.0; python_version >= "3.7"
jupyter-client==7.3.4; python_full_version >= "3.7.0" and python_version >= "3.7"
jupyter-core==4.11.1; python_version >= "3.7"
jupyter-server==1.18.1; python_version >= "3.7"
jupyter-telemetry==0.1.0; python_version >= "3.6"
jupyterhub==2.3.1; python_version >= "3.6"
jupyterlab-pygments==0.2.2; python_version >= "3.7"
jupyterlab-server==2.15.0; python_version >= "3.7"
jupyterlab==3.4.5; python_version >= "3.7"
numpy==1.20.1; python_version >= "3.7"
