apiVersion: "etcd.database.coreos.com/v1beta2"
kind: "EtcdCluster"
metadata:
  name: {{ include "sdp-prototype.fullname" . }}-etcd
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "sdp-prototype.labels" . | indent 4 }}
spec:
  size: {{ .Values.etcd.replicas }}
  version: "{{ .Values.etcd.version }}"
  pod:
    antiAffinity: false
    nodeSelector: {}
