apiVersion: v2
name: ska-low
description: A Helm chart for Kubernetes MVP Low
type: application
version: 0.9.0
appVersion: 0.9.0
icon: https://www.skatelescope.org/wp-content/uploads/2016/07/09545_NEW_LOGO_2014.png
dependencies:
  - name: ska-tango-base
    version: 0.4.4
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-base.enabled
  - name: ska-tango-util
    version: 0.4.5
    repository: https://artefact.skao.int/repository/helm-internal
  - name: ska-sdp
    version: 0.16.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-sdp.enabled
  - name: ska-tmc-low
    version: 0.8.2
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tmc-low.enabled
  # - name: ska-low-mccs
  #   version: 0.8.3
  #   repository: https://artefact.skao.int/repository/helm-internal
  - name: ska-tango-taranta
    version: 2.2.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-taranta.enabled
  - name: ska-tango-tangogql
    version: 1.3.6
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-taranta.enabled
  - name: ska-ser-skuid
    version: 3.3.3
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-ser-skuid.enabled
  - name: ska-landingpage
    version: 0.8.3
    repository: file://../ska-landingpage
    condition: ska-landingpage.enabled
  - name: ska-tango-archiver
    version: 2.4.3
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-archiver.enabled
  - name: ska-csp-lmc-low
    version: 0.8.2
    repository: https://artefact.skao.int/repository/helm-internal
  - name: ska-low-cbf
    version: 0.5.7
    repository: https://artefact.skao.int/repository/helm-internal
  # Commenting it to fix Service Account issue and ska-low-cbf-proc is already defined in low cbf chart.
  # https://gitlab.com/ska-telescope/low-cbf/ska-low-cbf/-/blob/0.5.7/charts/ska-low-cbf/Chart.yaml
  # - name: ska-low-cbf-proc
  #   version: 0.8.0
  #   repository: https://artefact.skao.int/repository/helm-internal
  - name: ska-log-consumer
    version: 0.1.6
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-log-consumer.enabled
