apiVersion: v2
name: ska-mid
description: A Helm chart for Kubernetes MVP Mid
type: application
version: 0.8.1-dirty-dev.1.2.3
appVersion: 0.8.1-dirty-dev.1.2.3
icon: https://www.skatelescope.org/wp-content/uploads/2016/07/09545_NEW_LOGO_2014.png
dependencies:
- name: ska-tango-base
  version: 0.3.4
  repository: https://artefact.skao.int/repository/helm-internal
  condition: ska-tango-base.enabled
- name: ska-tango-util
  version: 0.3.4
  repository: https://artefact.skao.int/repository/helm-internal
- name: ska-tmc-centralnode
  version: 0.3.4
  repository: https://artefact.skao.int/repository/helm-internal
  alias: central_node
  condition: ska-tmc-centralnode.enabled
# - name: ska-mid-cbf # CIPA team
#   version: 0.2.4
#   repository: https://artefact.skao.int/repository/helm-internal
#   condition: ska-mid-cbf.enabled
# - name: ska-csp-lmc-mid # https://gitlab.com/ska-telescope/ska-csp-lmc-mid/-/merge_requests/7/diffs
#   version: 0.1.9
#   repository: https://artefact.skao.int/repository/helm-internal
#   condition: ska-csp-lmc-mid.enabled
# - name: ska-sdp
#   version: 0.7.0
#   repository: https://artefact.skao.int/repository/helm-internal
#   condition: ska-sdp.enabled
# - name: ska-tmc-mid
#   version: 0.4.9
#   repository: https://artefact.skao.int/repository/helm-internal
#   condition: ska-tmc-mid.enabled
# - name: ska-oso-scripting # https://gitlab.com/ska-telescope/ska-oso-scripting/-/merge_requests/50/diffs
#   version: 0.5.3
#   repository: https://artefact.skao.int/repository/helm-internal
#   condition: ska-oso-scripting.enabled
- name: ska-webjive
  version: 1.0.26
  repository: https://artefact.skao.int/repository/helm-internal
  condition: ska-webjive.enabled
- name: ska-webjive-auth
  version: 0.1.3
  repository: https://artefact.skao.int/repository/helm-internal
  condition: global.webjive_auth_enabled
  tags:
    - webjive_auth
- name: ska-dashboard-repo
  version: 0.1.7
  repository: https://artefact.skao.int/repository/helm-internal
  condition: global.webjive_dashboard_enabled
  tags:
    - webjive_dashboard
# - name: ska-ser-skuid
#   version: 0.3.0
#   repository: https://artefact.skao.int/repository/helm-internal
#   condition: ska-ser-skuid.enabled
- name: ska-landingpage
  version: 0.8.1-dirty-dev.1.2.3
  repository: file://../ska-landingpage
  condition: ska-landingpage.enabled
# - name: ska-tango-archiver
#   version: 0.1.8
#   repository: https://artefact.skao.int/repository/helm-internal
#   condition: ska-tango-archiver.enabled
# ## DISH LMC Prototype was disabled in the old version of skampi
# # - name: dsh-lmc-prototype
# #   version: 0.0.1
# #   repository: https://nexus.engageska-portugal.pt/repository/helm-chart
