apiVersion: v2
name: ska-mid
description: A Helm chart for Kubernetes MVP Mid
type: application
version: 0.13.0
appVersion: 0.13.0
icon: https://www.skatelescope.org/wp-content/uploads/2016/07/09545_NEW_LOGO_2014.png
dependencies:
  - name: ska-tango-base
    version: 0.4.4
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-base.enabled
  - name: ska-tango-util
    version: 0.4.5
    repository: https://artefact.skao.int/repository/helm-internal
  - name: ska-mid-cbf-mcs # CIPA team
    version: 0.7.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-mid-cbf.enabled
  - name: ska-csp-lmc-mid
    version: 0.16.3
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-csp-lmc-mid.enabled
  - name: ska-sdp
    version: 0.17.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-sdp.enabled
  - name: ska-tmc-mid
    version: 0.8.5
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tmc-mid.enabled
    alias: tmc-mid
  - name: ska-tango-taranta
    version: 2.4.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-taranta.enabled
  - name: ska-tango-tangogql
    version: 1.3.10
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-taranta.enabled
  - name: ska-tango-taranta-auth
    version: 0.1.7
    repository: https://artefact.skao.int/repository/helm-internal
    condition: global.taranta_auth_enabled
    tags:
      - taranta_auth
  - name: ska-tango-taranta-dashboard
    version: 1.4.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: global.taranta_dashboard_enabled
    tags:
      - taranta_dashboard
  - name: ska-tango-taranta-dashboard-pvc
    version: 1.4.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: global.taranta_dashboard_enabled
    tags:
      - taranta_dashboard-pvc
  - name: ska-ser-skuid
    version: 3.3.3
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-ser-skuid.enabled
  - name: ska-landingpage
    version: 0.8.3
    repository: file://../ska-landingpage
    condition: ska-landingpage.enabled
  - name: ska-sim-dishmaster
    version: 2.0.2
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-sim-dishmaster.enabled
  - name: ska-tango-archiver
    version: 2.5.2
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-archiver.enabled
  # ## DISH LMC Prototype was disabled in the old version of skampi
  # # - name: dsh-lmc-prototype
  # #   version: 0.0.1
  # #   repository: https://nexus.engageska-portugal.pt/repository/helm-chart
  - name: ska-log-consumer
    version: 0.1.6
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-log-consumer.enabled
  - name: ska-oso-oet
    version: 5.0.0
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-oso-oet.enabled
  - name: ska-tango-alarmhandler
    version: 0.1.5
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-tango-alarmhandler.enabled
  - name: ska-db-oda
    version: 1.6.1
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-db-oda.enabled
  - name: ska-portal
    version: 0.2.2
    repository: https://artefact.skao.int/repository/helm-internal
    condition: ska-portal.enabled
