# template jobs
.psi_mid_base:
  tags:
    - k8srunner-psi-mid
  variables:
    VALUES: pipeline.yaml resources/deployment_configurations/psi-mid.yaml
    CONFIG: mid
    DEPLOYMENT_CONFIGURATION: "ska-$CONFIG"
    K8S_CHART: "$DEPLOYMENT_CONFIGURATION"
    INGRESS_HOST: "INGRESS.IP.ADDRESS"
  when: manual

.psi_mid_deploy:
  extends:
    - .deploy_chart_before
  script:
    - make skampi-links
  artifacts:
    name: "$CI_PROJECT_NAME-$CI_JOB_ID"
    paths:
      - "build/"
    reports:
      junit: build/report.xml

# on-demand deployment from branch to branch namespace
.psi_mid_branch_job:
  stage: on-demand-stfc-techops
  extends:
    - .psi_mid_base
  variables:
    HELM_RELEASE: "test-$CONFIG-$CI_JOB_ID"
    KUBE_NAMESPACE: "ci-$CI_PROJECT_NAME-$CI_COMMIT_REF_SLUG-$CONFIG"
    KUBE_NAMESPACE_SDP: "$KUBE_NAMESPACE-sdp"
    SERVICE_ACCOUNT: "ci-svc-$CI_PROJECT_NAME-$CI_COMMIT_REF_SLUG"
    ARCHIVER_DBNAME: "$CI_JOB_ID-$CONFIG_archiver_db"
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH

psi_mid_deploy_on_demand:
  extends:
    - .psi_mid_branch_job
    - .psi_mid_deploy

psi_mid_destroy_on_demand:
  extends:
    - .psi_mid_branch_job
    - .uninstall_chart
  variables:
    KEEP_NAMESPACE: "true"

# on-demand from master to integration namespace
.psi_mid_integration_job:
  stage: deploy_integration
  extends:
    - .psi_mid_base
  variables:
    HELM_RELEASE: "integration-$CONFIG-$CI_JOB_ID"
    KUBE_NAMESPACE: "integration-$CONFIG"
    KUBE_NAMESPACE_SDP: "integration-$CONFIG-sdp"
    SERVICE_ACCOUNT: "ci-svc-integration-$CONFIG"
    ARCHIVER_DBNAME: "integration_$CONFIG_archiver_db"
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

psi_mid_deploy_integration:
  extends:
    - .psi_mid_integration_job
    - .psi_mid_deploy

psi_mid_destroy_integration:
  extends:
    - .psi_mid_integration_job
    - .uninstall_chart
  variables:
    KEEP_NAMESPACE: "true"

# on-demand from tags to staging namespace
.psi_mid_staging_job:
  stage: deploy_staging
  extends:
    - .psi_mid_base
  variables:
    HELM_RELEASE: "test-$CONFIG-$CI_JOB_ID"
    KUBE_NAMESPACE: "staging-$CONFIG"
    KUBE_NAMESPACE_SDP: "staging-$CONFIG-sdp"
    SERVICE_ACCOUNT: "ci-svc-staging-$CONFIG"
    ARCHIVER_DBNAME: "staging_$CONFIG_archiver_db"
  only:
    - tags

psi_mid_deploy_staging:
  extends:
    - .psi_mid_staging_job
    - .psi_mid_deploy

psi_mid_destroy_staging:
  extends:
    - .psi_mid_staging_job
    - .uninstall_chart
  variables:
    KEEP_NAMESPACE: "true"
